@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: 420px;
  text-align: center;
  margin: 25px auto 20px;
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0px 4px 4px #00000040;
}

.tabs {
  display: flex;
  justify-content: center;
  width: 705px;
  text-align: center;
  margin: 20px auto 40px;
  background: #F2F2F2;
  border-radius: 2px;
}

.tab {
  width: 235px;
  height: 50px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.tab:hover {
  background: #000;
  color: #FFFFFF;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 870px;
  height: 336px;
  gap: 6px;
}

.badge {
  position: absolute;
  top: 2px;
  left: 7px;
  background-color: #FFFFFF;
  color: #000;
  padding: 2px 4px 2px 4px;
  border-radius: 1px;
  font-size: 15px;
  font-weight: 600;
  z-index: 1;
}

.product-card {
  position: relative;
  width: 213px;
  border-radius: 2px;
  background: #FFFFFF;
}

.product-image {
  width: 213px;
  height: 235px;
  border-radius: 2px;
}

.product-info {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  margin: 10px 0;
  gap: 8px;
}

.product-title {
  max-width: 120px;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-vendor::before {
  content: '• ';
  color: #000;
}

.product-vendor {
  color: #000;
  margin-top: 5px;
}

.price-info {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  margin: 10px 0;
  gap: 10px;
}

.product-price {
  color: #000;
  font-weight: 600;
}

.product-compare {
  text-decoration: line-through;
  color: #8F8F8F;
}

.discount {
  color: #FF3737;
  font-weight: 600;
}

.add-to-cart {
  width: 213px;
  padding: 10px;
  background: #000;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1043px) {
  .product-container {
    width: 90%;
    max-width: 800px;
  }

  .product-card {
    max-width: 350px;
  }
}

@media (max-width: 995px) {
  .title {
    font-size: 28px;
  }

  .tabs {
    width: 80%;
  }

  .tab {
    width: 80%;
  }

  .product-card {
    max-width: 300px;
  }

  .product-image {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .tab {
    font-size: 16px;
  }

  .product-card {
    max-width: 100%;
  }

  .add-to-cart {
    padding: 8px;
  }
}